@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap");
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

body {
    background-color: var(--Off-white);
    color: var(--Dark-grayish-blue);
    font-size: 0.938rem;
    line-height: 1.5;
    font-family: "Inter", sans-serif;
    min-height: 100vh;
    display: grid;
    place-content: center;
}

.siteContainer {
    max-width: 70rem;
    margin: 0 1rem;
}

h1 {
    font-size: min(12vw, 3.5rem);
    color: var(--Very-dark-blue);
    line-height: 1;
    font-weight: 800;
}


/*****  HEADER  *****/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3rem 0;
}

nav {
    position: relative;
}

.menuIcon:hover,
.menuIconClose:hover {
    cursor: pointer;
}

.menuIcon,
.menuIconClose {
    display: none;
    margin-right: 1rem;
    width: 2rem;
    z-index: 3;
    height: auto;
    justify-content: center;
    align-items: center;
}

.menuIcon {
    position: fixed;
    right: 1rem;
    top: 2.7rem;
    transition: all 0.5s;
}

.menuIcon:hover {
    scale: 125%;
}

header img {
    height: min(8vw, 2.5rem);
    width: auto;
}

nav ul {
    display: block;
}

ul a {
    font-size: 1rem;
    text-decoration: none;
    color: var(--Dark-grayish-blue);
}

ul a:hover {
    color: var(--Soft-red);
}

header ul>li {
    display: inline-block;
    margin-left: 2rem;
}